<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/sigmaLogo.png" width="80" height="18" alt="">
        </a>
    </nav>

    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['home']">Input&Intelligence</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/openPositions" routerLinkActive="active">Open Positions</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/addJobs" routerLinkActive="active">Add jobs</a>
            </li>
        </ul>
    </div>
</nav>